/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
}
header, footer, nav, section, article, hgroup, figure {
    display: block;
}
legend {
    display: none;
}
/************End Reset**************/


body {
    font: 100%/1.5 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif;
    color: #000;
    text-align: center;
    background-color: #000;
    background-image: url("https://placekitten.com/375/668");
    background-attachment: fixed;
}

header {
    background-color: #111;
    overflow: hidden;
}

.nav-anchors {
    float: right;
}
.nav-anchors li {
    display: inline-block;
}
.nav-anchors a {
    display: block;
    padding: 0.75em 0.8em;
    border-left: 1px solid #333;
}
.nav-anchors a.active {
    color: #fff;
}

a {
    text-decoration: none;
    color: #7f7f7f;
}

.nav-bar {
    position: relative;
    overflow: visible;
    height: 48px;
}

.nav {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #333;
    clear: right;
    text-align: left;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25)
}
.nav li a {
    display: block;
    padding: 1em;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

#content-title {
    background: linear-gradient(to bottom,rgba(200,0,0,0.4),rgba(40,0,0,0.6));
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-title h1 {
    color: #fff;
}

#content-block {
    padding: 20px;
    text-align: left;
    background-color: #fff;
}

#content-block p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
