/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
}
header, footer, nav, section, article, hgroup, figure {
    display: block;
}
legend {
    display: none;
}
/************End Reset**************/

body {
    font: 100%/1.5 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif;
    color: #000;
    text-align: center;
}

header {
    background-color: #111;
    position: relative;
    overflow: hidden;
}

.nav-anchors {
    float: right;
}
.nav-anchors li {
    display: inline-block;
}
.nav-anchors a {
    display: block;
    padding: 0.75em 0.8em;
    border-left: 1px solid #333;
}
.nav-anchors a.active {
    color: #fff;
}
.nav {
    margin: 0 -1em;
    display: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: #7f7f7f;
}

header .nav {
    border-top: 1px solid #333;
    clear: right;
}
.nav li {
    position: relative;
}
.nav li a {
    display: block;
    padding: 1em;
    border-top: 1px solid #333;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.nav li:first-child a {
    border-top: 0;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    height: 100%;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
