@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

code {
    font-size: 14px;
    font-family: 'Oxygen Mono';
}

pre.sourceCode {
    background-color: #f8f8f8;
    border: 2px solid #ddd;
    padding: 6px 10px;
    border-radius: 5px;
    overflow-x: auto;
}

